# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Terraform
Terraform/*/variables.auto.tfvars
Terraform/*/.terraform
Terraform/*/.terraform/*
Terraform/*/.terraform.lock.hcl
Terraform/*/terraform.tfstate
Terraform/*/terraform.tfstate.backup
Terraform/*/plan.tfplan

#Ignore
team5.pem
.terraform/providers/registry.terraform.io/hashicorp/aws/5.80.0/linux_amd64/terraform-provider-aws_v5.80.0_x5
Terraform1/.terraform/
Terraform1